html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description", content="")
        meta(name="author", content="")
        link(href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="16x16", href="favicon-tailwind.png")
        script(src="js/main.js")
    body(class="antialiased bg-body text-body font-body")
        div(class="bg-auto")
            section(class="bg-gray-500 pb-24")
                div(class="container px-4 mx-auto")
                    nav(class="relative flex justify-between items-center py-8")
                        a(class="text-gray-600 text-2xl leading-none", href="#")
                            img(class="h-8", src="mockup-assets/logos/shuffle-ux-light.svg", alt="", width="auto")
                        div(class="lg:hidden")
                            button(class="block navbar-burger text-gray-50 hover:text-gray-200 focus:outline-none")
                                svg(class="h-4 w-4", fill="currentColor", viewbox="0 0 20 20", xmlns="http://www.w3.org/2000/svg")
                                    title Mobile menu
                                    path(d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z")
                        ul(class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex ml-auto mr-auto items-center w-auto space-x-12")
                            li
                                a(class="text-sm text-gray-50 hover:text-gray-200", href="#") Inicio
                            li
                                a(class="text-sm text-gray-50 hover:text-gray-200", href="#") Cursos
                            li
                                a(class="text-sm text-gray-50 hover:text-gray-200", href="#") Nosotros
                            li
                                a(class="text-sm text-gray-50 hover:text-gray-200", href="#") Servicios
                            li
                                a(class="text-sm text-gray-50 hover:text-gray-200", href="#") Contacto
                        ul(class="hidden lg:flex items-center w-auto space-x-12")
                            li
                                a(class="text-sm text-gray-50 hover:text-gray-200", href="#") Sign in
                            li
                                a(class="text-sm text-gray-50 hover:text-gray-200", href="#") Sign up
                    div(class="my-16 bg-gray-500")
                        div(class="container px-4 mx-auto")
                            div(class="max-w-4xl mx-auto text-center mb-12")
                                span(class="text-gray-200") Develop your skill
                                h2(class="mt-4 mb-8 text-5xl lg:text-6xl text-white font-bold font-heading") Take care of your performance every day.
                                a(class="inline-block w-full lg:w-auto py-3 px-6 mb-3 lg:mb-0 lg:mr-3 bg-white hover:bg-gray-50 text-gray-900 font-semibold border border-white rounded transition duration-200", href="#") Get Started Free
                                a(class="inline-block w-full lg:w-auto py-3 px-6 text-gray-50 hover:text-gray-100 font-bold border rounded", href="#") Request Demo
                div(class="hidden navbar-menu relative z-50")
                    div(class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25")
                    nav(class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto")
                        div(class="flex items-center mb-8")
                            a(class="mr-auto text-2xl font-semibold leading-none", href="#")
                                img(class="h-8", src="mockup-assets/logos/shuffle-ux.svg", alt="", width="auto")
                            button(class="navbar-close")
                                svg(class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                    path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M6 18L18 6M6 6l12 12")
                        div
                            ul
                                li(class="mb-1")
                                    a(class="block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded", href="#") Inicio
                                li(class="mb-1")
                                    a(class="block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded", href="#") Cursos
                                li(class="mb-1")
                                    a(class="block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded", href="#") Nosotros
                                li(class="mb-1")
                                    a(class="block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded", href="#") Servicios
                                li(class="mb-1")
                                    a(class="block p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50 rounded", href="#") Contacto
                        div(class="mt-auto")
                            div(class="pt-6")
                                a(class="block px-6 py-2 mb-3 text-sm text-center text-gray-500 hover:text-gray-600 font-bold leading-loose border border-gray-100 hover:border-gray-200 rounded", href="#") Sign in
                                a(class="block px-6 py-2 mb-2 text-sm text-center text-gray-500 hover:text-gray-600 font-bold leading-loose border border-gray-100 hover:border-gray-200 rounded", href="#") Sign up
                            p(class="mt-6 mb-4 text-sm text-center text-gray-400")
                                span © 2021 All rights reserved.
            section(class="py-20")
                div(class="container px-4 mx-auto")
                    div(class="max-w-2xl mx-auto mb-12 text-center")
                        h2(class="mt-2 mb-4 text-4xl lg:text-5xl font-bold font-heading") Nuestros Cursos
                        p(class="mb-6 text-lg text-gray-500 leading-loose") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.
                        a(class="mr-6 text-lg text-gray-900 pb-2 border-b-4 border-gray-500", href="#") Monthly
                        a(class="text-lg text-gray-700 hover:text-gray-500 pb-2", href="#") Yearly
                    div(class="flex flex-wrap items-center -mx-4 -mb-6 lg:mb-0")
                        div(class="w-full lg:w-1/3 px-4 mb-6 lg:mb-0")
                            div(class="p-12 bg-gray-50 rounded lg:text-center")
                                h3(class="text-2xl font-bold text-gray-500") Starter
                                span(class="inline-block mb-6 text-6xl font-bold font-heading") $34,99
                                ul(class="mb-6 text-left text-lg")
                                    li(class="mb-2 flex items-center")
                                        svg(class="mr-2 w-6 h-6 text-gray-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                            path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                        p Complete documentation
                                    li(class="mb-2 flex items-center")
                                        svg(class="mr-2 w-6 h-6 text-gray-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                            path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                        p Working materials in Figma
                                    li(class="mb-2 flex items-center")
                                        svg(class="mr-2 w-6 h-6 text-gray-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                            path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                        p 100GB cloud storage
                                    li(class="mb-2 flex items-center")
                                        svg(class="mr-2 w-6 h-6 text-gray-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                            path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                        p 500 team members
                                a(class="block py-2 w-full text-center text-gray-50 font-semibold bg-gray-500 hover:bg-gray-600 rounded", href="#") Action
                        div(class="w-full lg:w-1/3 px-4 mb-6 lg:mb-0")
                            div(class="p-12 bg-gray-500 rounded lg:text-center")
                                h3(class="text-2xl font-bold text-gray-50") Pro
                                span(class="inline-block mb-6 text-6xl font-bold text-white") $65,99
                                ul(class="mb-6 text-left text-lg")
                                    li(class="mb-2 flex items-center")
                                        svg(class="mr-2 w-6 h-6 text-gray-400", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                            path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                        p(class="text-lg text-white") Complete documentation
                                    li(class="mb-2 flex items-center")
                                        svg(class="mr-2 w-6 h-6 text-gray-400", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                            path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                        p(class="text-lg text-white") Working materials in Figma
                                    li(class="mb-2 flex items-center")
                                        svg(class="mr-2 w-6 h-6 text-gray-400", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                            path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                        p(class="text-lg text-white") 100GB cloud storage
                                    li(class="mb-2 flex items-center")
                                        svg(class="mr-2 w-6 h-6 text-gray-400", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                            path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                        p(class="text-lg text-white") 500 team members
                                    li(class="mb-2 flex items-center")
                                        svg(class="mr-2 w-6 h-6 text-gray-400", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                            path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                        p(class="text-lg text-white") Premium support
                                a(class="block py-2 w-full text-center text-gray-800 font-semibold bg-white hover:bg-gray-50 rounded", href="#") Action
                        div(class="w-full lg:w-1/3 px-4")
                            div(class="p-12 bg-gray-50 rounded lg:text-center")
                                h3(class="text-2xl font-bold text-gray-500") Premium
                                span(class="inline-block mb-6 text-6xl font-bold font-heading") $99,99
                                ul(class="mb-6 text-left text-lg")
                                    li(class="mb-2 flex items-center")
                                        svg(class="mr-2 w-6 h-6 text-gray-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                            path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                        p Complete documentation
                                    li(class="mb-2 flex items-center")
                                        svg(class="mr-2 w-6 h-6 text-gray-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                            path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                        p Working materials in Figma
                                    li(class="mb-2 flex items-center")
                                        svg(class="mr-2 w-6 h-6 text-gray-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                            path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                        p 100GB cloud storage
                                    li(class="mb-2 flex items-center")
                                        svg(class="mr-2 w-6 h-6 text-gray-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                            path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                        p 500 team members
                                a(class="block py-2 w-full text-center text-gray-50 font-semibold bg-gray-500 hover:bg-gray-600 rounded", href="#") Action
            section(class="py-20")
                div(class="container px-4 mx-auto")
                    div(class="max-w-3xl mx-auto mb-12 lg:mb-16 text-center")
                        h2(class="mt-2 mb-4 text-4xl lg:text-5xl font-bold font-heading") Sobre Nosotros
                        p(class="text-lg text-gray-500 leading-loose") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.
                    div(class="flex flex-wrap -m-4")
                        div(class="w-full lg:w-1/2 p-4")
                            div(class="bg-gray-50 p-6 rounded")
                                div(class="flex flex-wrap items-center -mx-4")
                                    div(class="w-full md:w-2/5 px-4 mb-4 lg:mb-0")
                                        img(class="md:w-full h-52 object-cover rounded-lg", src="mockup-assets/images/gray-500-square.png", alt="")
                                    div(class="w-full md:w-3/5 px-4")
                                        h3(class="text-2xl font-bold font-heading mb-1") Danny Bailey
                                        p(class="mb-2 text-lg text-gray-400") CEO & Founder
                                        p(class="text-lg text-gray-500 leading-loose") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh.
                        div(class="w-full lg:w-1/2 p-4")
                            div(class="bg-gray-50 p-6 rounded")
                                div(class="flex flex-wrap items-center -mx-4")
                                    div(class="w-full md:w-2/5 px-4 mb-4 lg:mb-0")
                                        img(class="md:w-full h-52 object-cover rounded-lg", src="mockup-assets/images/gray-500-square.png", alt="")
                                    div(class="w-full md:w-3/5 px-4")
                                        h3(class="text-2xl font-bold font-heading mb-1") Danny Bailey
                                        p(class="mb-2 text-lg text-gray-400") CEO & Founder
                                        p(class="text-lg text-gray-500 leading-loose") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh.
                        div(class="w-full lg:w-1/2 p-4")
                            div(class="bg-gray-50 p-6 rounded")
                                div(class="flex flex-wrap items-center -mx-4")
                                    div(class="w-full md:w-2/5 px-4 mb-4 lg:mb-0")
                                        img(class="md:w-full h-52 object-cover rounded-lg", src="mockup-assets/images/gray-500-square.png", alt="")
                                    div(class="w-full md:w-3/5 px-4")
                                        h3(class="text-2xl font-bold font-heading mb-1") Danny Bailey
                                        p(class="mb-2 text-lg text-gray-400") CEO & Founder
                                        p(class="text-lg text-gray-500 leading-loose") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh.
                        div(class="w-full lg:w-1/2 p-4")
                            div(class="bg-gray-50 p-6 rounded")
                                div(class="flex flex-wrap items-center -mx-4")
                                    div(class="w-full md:w-2/5 px-4 mb-4 lg:mb-0")
                                        img(class="md:w-full h-52 object-cover rounded-lg", src="mockup-assets/images/gray-500-square.png", alt="")
                                    div(class="w-full md:w-3/5 px-4")
                                        h3(class="text-2xl font-bold font-heading mb-1") Danny Bailey
                                        p(class="mb-2 text-lg text-gray-400") CEO & Founder
                                        p(class="text-lg text-gray-500 leading-loose") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh.
            section(class="py-20")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-wrap items-center -mx-4 -mb-8")
                        div(class="w-full md:w-1/2 lg:w-1/4 px-4 mb-8 text-center")
                            h3(class="mb-2 text-5xl lg:text-6xl font-bold font-heading") 4,536
                            p(class="text-lg text-gray-300") Alumnos
                        div(class="w-full md:w-1/2 lg:w-1/4 px-4 mb-8 text-center")
                            h3(class="mb-2 text-5xl lg:text-6xl font-bold font-heading") 356
                            p(class="text-lg text-gray-300") Docentes
                        div(class="w-full md:w-1/2 lg:w-1/4 px-4 mb-8 text-center")
                            h3(class="mb-2 text-5xl lg:text-6xl font-bold font-heading") 100
                            p(class="text-lg text-gray-300") Cedes
                        div(class="w-full md:w-1/2 lg:w-1/4 px-4 mb-8 text-center")
                            h3(class="mb-2 text-5xl lg:text-6xl font-bold font-heading") 100+
                            p(class="text-lg text-gray-300") Cursos
            section(class="py-20")
                div(class="container px-4 mx-auto")
                    div(class="max-w-2xl mx-auto mb-16 text-center")
                        div(class="flex mb-2 items-center justify-center")
                            a(class="text-xs text-gray-200", href="#") Home
                            svg(class="w-3 h-3 mx-1 text-gray-200", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 5l7 7-7 7")
                            a(class="text-xs text-gray-200", href="#") Blog
                            svg(class="w-3 h-3 mx-1 text-gray-200", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 5l7 7-7 7")
                            a(class="text-xs text-gray-200", href="#") Article
                        h2(class="mb-6 text-4xl lg:text-5xl font-bold font-heading") Nuestros Servicios
                        div(class="flex items-center justify-center")
                            div(class="mr-6")
                                img(class="w-16 h-16 object-cover rounded-full", src="mockup-assets/images/gray-300-avatar.png", alt="")
                            div
                                h3(class="text-2xl font-bold font-heading") Danny Bailey
                                p(class="text-lg text-gray-500") February 26, 2021
                    div(class="h-96")
                        img(class="w-full h-full object-cover rounded-lg", src="mockup-assets/images/gray-500-horizontal.png", alt="")
            section(class="py-20")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-wrap -mx-4")
                        div(class="w-full lg:w-1/2 px-4 mb-8 lg:mb-0")
                            div(class="max-w-lg")
                                h2(class="mb-6 lg:mb-12 text-4xl lg:text-5xl font-bold font-heading") Contactanos
                                h3(class="mb-1 text-2xl text-gray-800") Address
                                p(class="mb-6 text-lg text-gray-500 leading-loose") 1686 Geraldine Lane New York, NY 10013
                                h3(class="mb-1 text-2xl text-gray-800") Contact Us
                                p(class="text-lg text-gray-500 leading-loose") hello@wireframes.org
                                p(class="text-lg text-gray-500 leading-loose") + 7-843-672-431
                        div(class="w-full lg:w-1/2 px-4")
                            form(action="#")
                                input(class="w-full py-3 pl-3 mb-4 border rounded", type="text", placeholder="Name")
                                input(class="w-full py-3 pl-3 mb-4 border rounded", type="email", placeholder="E-mail")
                                textarea(class="mb-4 w-full p-3 border rounded resize-none", id="1", name="message", cols="30", rows="10", placeholder="Your Message...")
                                button(class="w-full inline-block px-6 py-3 mr-4 text-sm text-white font-bold leading-loose bg-gray-500 hover:bg-gray-600 rounded transition duration-200") Action
            footer(class="py-20")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-wrap -mx-4 mb-8 lg:mb-16")
                        div(class="w-full lg:w-1/3 px-4 mb-12 lg:mb-0")
                            a(class="text-gray-600 text-2xl leading-none", href="#")
                                img(class="h-8", src="mockup-assets/logos/shuffle-ux.svg", alt="", width="auto")
                            p(class="mt-5 mb-6 max-w-xs text-gray-500 leading-loose") Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            div
                                a(class="inline-block h-6 mr-8", href="#")
                                    img(class="mx-auto", src="mockup-assets/socials/facebook.svg")
                                |                 
                                a(class="inline-block h-6 mr-8", href="#")
                                    img(class="mx-auto", src="mockup-assets/socials/github.svg")
                                |                 
                                a(class="inline-block h-6 mr-8", href="#")
                                    img(class="mx-auto", src="mockup-assets/socials/instagram.svg")
                                |                 
                                a(class="inline-block h-6 mr-8", href="#")
                                    img(class="mx-auto", src="mockup-assets/socials/linkedin.svg")
                                |                 
                                a(class="inline-block h-6", href="#")
                                    img(class="mx-auto", src="mockup-assets/socials/twitter.svg")
                        div(class="w-full lg:w-2/3 px-4")
                            div(class="flex flex-wrap justify-between")
                                div(class="w-1/2 lg:w-1/4 mb-8 lg:mb-0")
                                    h3(class="mb-6 text-lg font-bold font-heading") Cursos
                                    ul(class="text-sm")
                                        li(class="mb-4")
                                            a(class="text-gray-500 hover:text-gray-600", href="#") About Us
                                        li(class="mb-4")
                                            a(class="text-gray-500 hover:text-gray-600", href="#") Careers
                                        li(class="mb-4")
                                            a(class="text-gray-500 hover:text-gray-600", href="#") Press
                                        li
                                            a(class="text-gray-500 hover:text-gray-600", href="#") Blog
                                div(class="w-1/2 lg:w-1/4 mb-8 lg:mb-0")
                                    h3(class="mb-6 text-lg font-bold font-heading") Cursos
                                    ul(class="text-sm")
                                        li(class="mb-4")
                                            a(class="text-gray-500 hover:text-gray-600", href="#") Login
                                        li(class="mb-4")
                                            a(class="text-gray-500 hover:text-gray-600", href="#") Register
                                        li(class="mb-4")
                                            a(class="text-gray-500 hover:text-gray-600", href="#") Add list
                                        li
                                            a(class="text-gray-500 hover:text-gray-600", href="#") Contact
                                div(class="w-1/2 lg:w-1/4 mb-8 lg:mb-0")
                                    h3(class="mb-6 text-lg font-bold font-heading") cursos
                                    ul(class="text-sm")
                                        li(class="mb-4")
                                            a(class="text-gray-500 hover:text-gray-600", href="#") Terms
                                        li(class="mb-4")
                                            a(class="text-gray-500 hover:text-gray-600", href="#") About Us
                                        li(class="mb-4")
                                            a(class="text-gray-500 hover:text-gray-600", href="#") Team
                                        li
                                            a(class="text-gray-500 hover:text-gray-600", href="#") Privacy
                                div(class="w-1/2 lg:w-1/4")
                                    h3(class="mb-6 text-lg font-bold font-heading") Resources
                                    ul(class="text-sm")
                                        li(class="mb-4")
                                            a(class="text-gray-500 hover:text-gray-600", href="#") Blog
                                        li(class="mb-4")
                                            a(class="text-gray-500 hover:text-gray-600", href="#") Service
                                        li(class="mb-4")
                                            a(class="text-gray-500 hover:text-gray-600", href="#") Product
                                        li
                                            a(class="text-gray-500 hover:text-gray-600", href="#") Pricing
                    div(class="border-t border-gray-50 pt-8")
                        p(class="lg:text-center text-sm text-gray-400") All rights reserved © Wireframes Corporation 2020
